MQTT_HOST=homeassistant.local
MQTT_PORT=1883
MQTT_USERNAME=your_user
MQTT_PASSWORD=your_password
MAICO_WEB_PASSWORD=your_web_password
MAICO_SERIAL_PORT=/dev/enocean
MAICO_POLL_INTERVAL=10
MAICO_WEB_PORT=8080
MAICO_HOSTNAME=maico-controller
